{{! This page displays the user's data from the database, so it must be secured. }}

{{#with acctUser}}

<h1>Welcome, <em>{{displayname}}!</em></h1>

<p>Only users who have logged in can see this page. We need to identify users before we display their data.</p>

{{/with}}


<h2>Create new transaction:</h2>
<form action="" method="POST">
    <label class="form-label"> Total Amount:</label>
    <input type="number" step="0.01" name="totalAmount" /></br>

    <label class="form-label"> Description:</label>
    <input type="text" name="description" /></br>

    <label class="form-label"> Debtor's Username:</label>
    <select name="paidFor">
        {{#each friends}}
        <option value={{username}}>{{username}}</option>
        {{/each}}
    </select></br>

    <label class="form-label"> Debtor's Amount:</label>
    <input type="number" step="0.01" name="userAmount" /></br>

    <button type="submit" class="submit-button">Submit</button></br>
</form>


<h2>{{acctUser.displayname}}'s Pending Transaction, as a payer:</h2>
<table class="transcript">
    <thead>
        <th>Time</th>
        <th>Total Amount</th>
        <th>Description</th>
    </thead>
    <tbody>
        {{#each byMe}}
        <tr>
            <td>{{tranTime}}</td>
            <td>{{totalAmount}}</td>
            <td>{{description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>{{acctUser.displayname}}'s Pending Transaction, as a debtor:</h2>
<table class="transcript">
    <thead>
        <th>Time</th>
        <th>Total Amount</th>
        <th>Description</th>
    </thead>
    <tbody>
        {{#each byOt}}
        <tr>
            <td>{{tranTime}}</td>
            <td>{{totalAmount}}</td>
            <td>{{description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<form class="logout" action="/logout" method="post">
    <button type="submit">Log Out</button>
</form>